


@font-face {
	font-family: 'theme-0';
	src: url('../fonts/Gill_Sans_MT.ttf');
}


@font-face {
	font-family: 'theme-1';
	//font-weight: bold;
	src: url('../fonts/Light_tfb.ttf');
}

@font-face {
	font-family: 'theme-2';
	src: url('../fonts/Gill_Sans_MT.otf');
}


@font-face {
	font-family: 'theme-4';
	src: url('../fonts/DIN_Next_Pro.otf');
}

